@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600;700;900&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.first{
    width: 100%;
    height: 500px;
    background-color: aliceblue;
    z-index: 10;
    position: relative;
    background-image: url("assets/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 11;
    color: black;
}
.logo img{
    height: 70px;
    width: 150px;
}
.center-p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.s-media a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    gap: 5px;
}
.first-content{
    height: 400px;
    width: 500px;
    padding:30px 70px;
    color:white;

}
.h1{
    font-size: 16px;
    width: 400;
}
.h2{
    padding-top: 20px;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}
.h3{
    font-size: 11px;
    font-weight: 400;
    padding-top: 40px;

}
.h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
.h4 button{
    height: 40px;
    width: 90px;
    border: none;
    background-color: orangered;
    color: white;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
}
.h4 div{
    margin-right: 160px;
    font-weight: 400;
    font-size: 15px;
}
.relation{
    height: 150px;
    width: 400px;
    position: absolute;
    left: 700px;
    top: 420px;
    background-color: white;
    color:black;
    padding: 30px 30px;
}
.t1{
    font-size: 20px;
    font-weight: 700;
}
.t2{
    font-size:11px ;
    font-weight: 400;
    padding-top: 10px;
}
.know-bottom{
    display: flex;
    gap: 30px;
    margin-top: 10px;
}
.ss{
    height: 40px;
    width: 40px;
    background-color: orangered;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ss i{
    color: white;
}
.s1{
    font-size: 11px;
}
.s2{
    font-size: 20px;
    font-weight: 700;
}

/**second space**/
.second{
    width: 100%;
    height: 600px;
    background-color:rgb(255, 225, 186);
    display: flex;
}
.block-1{
    height: 600px;
    width: 50%;
    background-color:rgba(255, 243, 205, 0.973);
    z-index: 15;
    position: relative;
}
.block-2{
    height: 600px;
    width: 50%;
    background-color:rgba(255, 243, 205, 0.973);
}
.block-2-con{
    margin: 190px 60px;
}
.b2-1{
    font-size: 13px;
    font-weight: 500;
    padding-bottom: 25px;
}
.b2-2{
    font-size: 35px;
    font-weight: 700;
    line-height: 38px;
}
.b2-3{
    font-size: 11px;
    font-weight: 400;
    margin-top: 18px;
}
.b2-4 button{
    height: 40px;
    width: 90px;
    background-color: orangered;
    color: white;
    font-size: 13px;
    font-weight: 400;
    margin-top: 20px;
    border: none;
    border-radius: 2px;
}
.image-container{
    margin-top: 60px;
    margin-left: 50px;
    height: 350px;
    width: 550px;
    background-image: url("assets/bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aqua;
    box-shadow: -12px 12px 2px 2px white;
}
.relation-s{
    height: 120px;
    width: 400px;
    background-color: rgb(236, 230, 230);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    margin-top: 30px;
    margin-left: 100px;
    
}
.r1{
    background-color:white;
    height: 110px;
    width: 130px;
    color: black;
    display: inline;
    padding-top: 10px;
}
.count{
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.t1-count,.t2-count{
    font-size: 11px;
    font-weight: 400;
     display: flex;
    align-items: center;
    justify-content: center;
}
.third{
    width: 100%;
    height: 600px;
    background-color: white;
}
.third-heading{
    width: 100%;
    height: 200px;
    background-color:white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.t3-1{
    font-size: 13px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 20px;
}
.t3-2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;

}
.t3-3{
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 30px;

}
.third-card{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.img-3{
    height: 200px;
    width: 300px;
    background-color: blueviolet;
    box-shadow: 12px -12px 2px 2px rgba(255, 243, 205, 0.973);
}
.Coaching{
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
}
.mid-text{
    margin-top: 15px;
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 15px;

}
.third-card-1 button{
    height: 40px;
    width: 90px;
    background-color: orangered;
    color: white;
    font-size: 12px;
    font-weight: 400;
    border: none;
    border-radius: 2px;

}
.fourth{
    width: 100%;
    height: 900px;
    background-color:rgb(255, 225, 186);
}
